.nav-top {
    background-color: #333545;
    height: 4em;
}

.nav-top-contain {
    max-width: 1240px;
    margin: auto;
}

.logo {
    width: 134px;
    min-width: 134px;
}

.nav-top-left-contain {
    max-width: 115px;
    margin-right: 16px;
}

.nav-top-left-contain img {
    height: 100%;
    width: 100%;
}

.search-bar {
    flex-flow: row nowrap;
    max-width: 549px;
    width: calc(100% - 134px);
    border: 1px solid rgb(238, 238, 238);
    border-radius: 4px;
    padding: 8px;
    gap: 0.8em;
    position: relative;
}

.magnifier {
    width: 17px;
    height: 17px;
}

input {
    border: none;
    height: 18px;
    font-size: 0.9em;
}

textarea:focus,
input:focus {
    outline: none;
}

.city {
    gap: 0.4em;
    color: #aeb0c1;
    cursor: pointer;
}

.city span:hover {
    color: white;
}

.city span {
    font-size: 0.95em;
}

.city img {
    width: 1.3em;
    height: 1.3em;
}

.signin-button {
    background-color: #F84464;
    color: white;
    font-size: 0.8em;
    border: none;
    margin: 1.4em;
    border-radius: 4px;
    width: 5em;
    height: 2em;
}

.fa-bars {
    color: #aeb0c1;
}