.booking-history {
    background-color: #f2f2f2;
    padding: 2em 0;
    ;
}

.booking-history-container {
    width: 1240px;
    height: 50vh;
}

.bookings-container {
    gap: 2em;
    margin: 2em 0;
}