.nav-bottom {
    background-color: #1f2539;
}

ul {
    list-style: none;
}

.nav-bottom-contain {
    max-width: 1240px;
    margin: auto;
    text-align: center;
}

.nav-bottom-left-list {
    gap: 1em;
    padding-top: 0.5em;
}

.nav-bottom-left-list li {
    color: #aeb0c1;
}

.nav-bottom-left-list li:hover {
    color: white;
}

.nav-bottom-right-list {
    gap: 1em;
    padding-top: 0.7em;
}

.nav-bottom-right-list li {
    font-size: 0.8em;
}