.search-container {
    background-color: white;
    position: absolute;
    top: 2.2em;
    left: 0;
    width: 34.3em;
    z-index: 1;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search-text-box {
    padding: 1em 1.2em;
    gap: 1em;
    border-top: 1px solid #CCCCCC;
}