.seat-layout-nav {
    background-color: #1F2533;
    height: 5em;
    gap: 1.5em;
    align-items: center;
    position: sticky;
}

.seat-layout-nav h6 {
    font-weight: 300;
}

.image-wrap {
    width: 1.5em;
    cursor: pointer;
}

.seat-layout-left {
    gap: 2em;
}

.seat-layout-left h6 {
    padding-bottom: 0.6em;
    font-weight: 400;
}

.seat-layout-left p {
    color: lightgrey;
    font-weight: 500;
    font-size: 0.8em;
}

.seat-layout-container {
    margin: 2em 0;
}

.seat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 2em;
    border: 1px solid green;
    margin: 0.6em 0.8em;
    text-align: center;
    cursor: pointer;
}

.selected-seat {
    background-color: green;
    color: white;
}

.occupied-seat {
    background-color: lightgray;
    color: white;
    border: none;
}

.seat-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    width: 1em;
}

.movie-screen-container {
    margin: 4em 0;
}

.movie-screen-container p {
    font-size: 0.85em;
}

.seat-layout-bottom-container {
    gap: 1.5em;
}

.box1,
.box2,
.box3 {
    padding: 0.1em 1em;
    margin-right: 0.4em;
}

.box1 {
    background-color: lightgray;
}

.box2 {
    border: 1px solid green;
}

.box3 {
    background-color: green;
}

.pay-button-container {}

.pay-button {
    font-size: 1.3em;
    background-color: #F84464;
    color: white;
    width: 25em;
    height: 2.5em;
    border-radius: 0.5em;
    cursor: pointer;
}