.footer-list-show {
    width: 100%;
    background-color: #313035;
}

.footer-list-contain {
    max-width: 1240px;
    margin: auto;
    padding: 15px 0;
}

.footer-list-contain h6,
.footer-list-contain p {
    color: white;
}

.footer-list-contain button {
    background-color: #EC5E71;
    color: white;
    width: 9em;
    height: 2.5em;
    border-radius: 5px;
}

.footer-list-container {
    gap: 0.8em;
}

.footer-icons {
    background-color: #404043;
}

.footer-icon-wrap h6 {
    color: #999999;
    font-size: 0.7em;
}

.footer-icon-wrap {
    gap: 1em;
}

.footer-articles {
    background-color: #333338;
}

.footer-articles h6 {
    padding: 1.5em 0;
    font-size: 0.8em;
}

.footer-articles p {
    font-size: 0.7em;
}

.footer-articles h6,
.footer-articles p {
    color: #999999;
}

.footer-logo-line {
    padding: 4em 1em;
    padding-bottom: 3em;
}

.footer-logo-line h2 {
    border-bottom: 1px solid #5D5D5F;
    flex: 6;
    height: 0;
}

.footer-logo-line img {
    width: 10em;
    padding: 0 1.2em;
    
}

.footer-social-icons {
    gap: 0.5em;
    width: 27%;
}