.user-side-bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 5;
    width: 20em;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    cursor: unset;
}

.user-side-bar .nav {
    background-color: #333545;
    height: 4em;
}

.user-side-bar .nav2 {
    background-color: #FFF3D2;
    height: 4em;
    gap: 1em;
}

.nav2 .info {
    border-radius: 50%;
    border: 1px solid black;
    width: 1.2em;
    height: 1.2em;
    font-size: 0.8em;
}

.nav2 .text-contain {
    font-size: 0.9em;
}

.sign-out-button {
    margin: 1em;
    padding: 0.5em 0;
    position: absolute;
    width: 92%;
    bottom: 0;
    right: 0;
    color: #F84464;
    border: 1px solid #F84464;
    font-weight: 500;
}

.side-bar-wrap {
    color: black;
    display: flex;
    align-items: center;
    padding: 1.5em;
    height: 3em;
    border-bottom: 1px solid lightgray;
}