.carousel-inner img {
    border-radius: 4px;
}

.carousel-control-prev-icon {
    position: absolute;
    left: 0;
    background-color: black;
    height: 3em;
}

.carousel-control-next-icon {
    position: absolute;
    right: 0;
    background-color: black;
    height: 3em;
}

