.premieres-movies {
    background-color: #2B3149;
}

.premieres-movies-contain {
    margin: 0 auto;
    padding-top: 2em;
    max-width: 1240px;
}

.premieres-movies-contain p {
    color: white;
    padding-bottom: 0.5em;
}

.card-premiere {
    gap: 2em;
    background-color: #2B3149;
}

.premiere-movie-card {
    width: 14em;
    height: 28em;
    background-color: #2B3149;
}

.card-premiere h6{
    font-size: 1.1em;
    margin-top: 0.8em;
    margin-bottom: 0.4em;
}

.card-premiere h6,
.card-premiere p {
    color: white;
}